@font-face {
  font-family: Oramac;
  src: url(Oramac/oramac.ttf);
}

@font-face {
  font-family: OramacLight;
  src: url(Oramac/oramaclight.ttf);
}

.bg-333 {
  background-color: #333;
}

.bg-666 {
  background-color: #666;
}

.scale {
  transition: 0.3s;
}

.scale:hover {
  scale: 1.1;
}

.scale:active {
  scale: 1;
}

.size {
  height: 100vh;
  width: 100vw;
}

.oramac-ss {
  font-family: OramacLight;
  font-size: 1.25vw;
}

.oramac-1 {
  font-family: Oramac;
  font-size: 10vw;
}

.oramac-2 {
  font-family: Oramac;
  font-size: 7.5vw;
}

.oramac-3 {
  font-family: Oramac;
  font-size: 5vw;
}

.oramac-4 {
  font-family: Oramac;
  font-size: 3.75vw;
}

.oramac-5 {
  font-family: Oramac;
  font-size: 2.5vw;
}

#myProgress {
  width: 75%;
  background-color: #333;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: white;
}

a {
  text-decoration: none;
  color:white ;
}

.vid {
  height: 50vh;
}

.pointer:hover {
  cursor: pointer;
}

.zoom:hover {
  cursor: zoom-in;
}

.slideDown {
  transform: translateY(0vh);
  transition: transform 2s, scale 0.2s;
  @starting-style {
    transform: translateY(-100vh);
  }
}

.slideUp {
  transform: translateY(0vh);
  transition: transform 2s, scale 0.2s;
  @starting-style {
    transform: translateY(100vh);
  }
}

.slideLeft {
  transform: translateX(0vw);
  transition: transform 2s, scale 0.2s;
  @starting-style {
    transform: translateX(100vw);
  }
}

.slideRight {
  transform: translateX(0vw);
  transition: transform 2s, scale 0.2s;
  @starting-style {
    transform: translateX(-100vw);
  }
}

.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 28.125%;
  overflow: hidden;
}

.video-wrapper video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 992px) {
  .video-wrapper {
    padding-top: 42.86%;
  }

  .oramac-4 {
    font-size: 6vw;
  }

  .oramac-5 {
    font-size: 4vw;
  }

  .oramac-ss {
    font-size: 2vw;
  }
}

@media (max-width: 768px) {
  .video-wrapper {
    padding-top: 42.86%;
  }

  .oramac-4 {
    font-size: 7vw;
  }

  .oramac-5 {
    font-size: 5vw;
  }

  .oramac-ss {
    font-size: 3vw;
  }
}